alabaster==0
anyjson==0.3
argcomplete=
astropy==1.0
Babel==1.3
backports.ss
bcolz==0.9.0
BeautifulHue
BeautifulSou
beautifulsou
binstar==0.1
bitarray==0.
blaze==0.8.0
blz==0.6.2
bokeh==0.9.0
boto==2.38.0
Bottleneck==
cdecimal==2.
certifi==14.
cffi==1.1.0
clyent==0.3.
colorama==0.
conda==3.14.
conda-build=
conda-env==2
configobj==5
cryptography
Cython==0.22
cytoolz==0.7
daemon==1.0
datashape==0
decorator==3
dill==0.2.4
Django==1.8.
docutils==0.
enum34==1.0.
ez-setup==0.
fastcache==1
Flask==0.10.
funcsigs==0.
gevent==1.0.
gevent-socke
gevent-webso
Gnotty==0.2.
google==1.7
greenlet==0.
grin==1.2.1
h5py==2.5.0
idna==2.0
ipaddress==1
ipython==3.2
irc==2.0
itsdangerous
jdcal==1.0
jedi==0.8.1
Jinja2==2.7.
jsonschema==
llvmlite==0.
lxml==3.4.4
MarkupSafe==
matplotlib==
matplotlib-v
menuinst==1.
mistune==0.5
mock==1.0.1
multipledisp
networkx==1.
nltk==3.0.3
nose==1.3.7
numba==0.19.
numexpr==2.4
numpy==1.9.2
odo==0.3.2
openpyxl==1.
pandas==0.16
patsy==0.3.0
pep8==1.6.2
Pillow==2.8.
ply==3.6
psutil==2.2.
py==1.4.27
pyasn1==0.1.
pycosat==0.6
pycparser==2
pycrypto==2.
pyflakes==0.
Pygments==2.
pygoogle==0.
pyOpenSSL==0
pyparsing==2
pyreadline==
pytest==2.7.
python-dateu
pytz==2015.4
pywin32==219
PyYAML==3.11
pyzmq==14.7.
requests==2.
rope==0.9.4
runipy==0.1.
scikit-image
scikit-learn
scipy==0.15.
six==1.9.0
snowballstem
sockjs-torna
sphinx==1.3.
sphinx-me==0
sphinx-rtd-t
spyder==2.3.
SQLAlchemy==
statsmodels=
sympy==0.7.6
tables==3.2.
toolz==0.7.2
tornado==4.2
ujson==1.33
unicodecsv==
virtualenv==
Werkzeug==0.
wikipedia==1
xgoogle==1.3
xlrd==0.9.3
XlsxWriter==
xlwings==0.3
xlwt==1.0.0